body {
  background: #a19123;
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
}
#app {
  width: 540px;
  margin: 200px auto;
}
.timer {
  font-size: 78px;
  font-weight: bold;
}
.timer p {
  margin: 0 0 20px 0;
}
.timer span {
  display: inline-block;
  margin: 0 10px 0 10px;
}
.controls {
  width: 220px;
  margin: 0 auto;
}
.controls button {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 10px 30px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  outline: 0px;
}